/*----------Start Login CSS----------*/

#page-login-index div > div.col-lg-8.p-0.my-auto > div.searchbox.d-none.d-lg-block > form > div {
    visibility: hidden;
}

#page-login-index header {
    background-color: rgb(170, 146, 202)!important;
}

#page-login-index div > div.row.justify-content-center.mt-3 > div > div > div > div.card-title > h2 {
    color: #01272d!important;
    font-weight: bolder;
}

#page-login-index div > div:nth-child(3) > div > div > div > div > div.row.justify-content-md-center > div:nth-child(2) > div.forgetpass.mt-3 > p > a {
    color: #01272d!important;
    font-weight: bolder;
}

#page-login-index  div.rememberpass.mt-3 > label {
    color: #01272d;
}

#page-login-index div.row.justify-content-md-center > div:nth-child(2) > div:nth-child(2) {
    color: #01272d;
}

#page-login-index div.row.justify-content-center.mt-3 > div > div > div > div:nth-child(2) {
    color: #01272d;
}
/*----------End Login CSS----------*/

/*----------Star Course Category CSS----------*/
#page-course-index-category a, a:visited, .tabtree .tabrow0 li a {
    color: #01272d;
    text-decoration: none;
}
/*----------End Course Category CSS----------*/

/*----------Star Zoom CSS----------*/
#page-mod-zoom-view .generaltable {
    color: #FFFFFF;
}

#page-mod-zoom-view .generaltable a, a:visited, .tabtree .tabrow0 li a {
    color: #FFFFFF;
}
/*----------End Zoom CSS----------*/

/*----------Start Adaptable Appearance CSS----------*/
#page-admin-setting-theme_adaptable .generaltable {
    color: #FFFFFF;
}
/*----------End Adaptable Appearance CSS----------*/

/*----------Start Editing a Mod CSS----------*/
.mform fieldset.collapsible legend a.fheader {
    color: #ffffff
}
/*----------End Editing a Mod CSS----------*/

/*----------Start Breadcrumb  CSS----------*/
/*----------End Breadcrumb  CSS----------*/

/*----------Start footer CSS----------*/
#prev-activity-link > span.text {
    color: #FFFFFF;
}

#next-activity-link > span.text {
    color: #FFFFFF;
}
/*----------End footer CSS----------*/

/*----------Course View Topics CSS----------*/
#page-course-view-topics .section-modchooser-text {
    color: #01272d;
}

#page-course-view-topics .modal-header .modal-title {
    color: #01272d;
}
/*----------End Course View Topics CSS----------*/

a, a:visited, .tabtree .tabrow0 li a {
    color: #01272d;
    text-decoration: none;
}

#sitetitle, #sitetitle a, #sitetitle p, #sitetitle h1 {
    color: #01272d!important;
}

.block .content a, .block .content li a, .block .content td a {
    color: #01272d;
}
.block_navigation .block_tree .tree_item.branch {
    color: #01272d!important;
}
.jsenabled .block_settings .block_tree .tree_item.branch, .block_navigation .block_tree .tree_item.branch {
    color: #01272d!important;
}
